<div data-th-fragment="process(optionlink)" data-th-remove="tag">
    <a data-th-if="${optionlink}" data-th-class="${optionlink.class}" data-th-target="${optionlink.target}" data-th-href="${optionlink.url}" data-th-text="${optionlink.text}"></a>
</div>
